{
	"extends": "eslint:recommended",
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"js": true,
			"experimentalObjectRestSpread": true
		},
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"node": true
	},
	"plugins": [
		"react",
		"prettier"
	],
	"rules": {
		"no-global-assign": ["error", {"exceptions": ["topics"]}],
		"no-console": 2,
		"new-cap": 0,
		"no-shadow": "error",
		"no-shadow-restricted-names": "error",
		"strict": 0,
		"no-multi-spaces": "error",
		"comma-dangle": [2, "never"],
		"no-invalid-regexp": "error",
		"arrow-parens": ["error", "as-needed"],
		"prefer-template": "error",
		"no-const-assign": "error",
		"no-underscore-dangle": 0,
		"no-use-before-define": 0,
		"no-irregular-whitespace": "error",
		"no-regex-spaces": "error",
		"no-empty-pattern": "error",
		"eol-last": 0,
		"no-label-var": "error",
		"no-catch-shadow": "error",
		"no-undef-init": "error",
		"no-this-before-super": "error",
		"no-class-assign": "error",
		"array-callback-return": "error",
		"valid-typeof": "error",
		"object-shorthand": "error",
		"quotes": ["error", "single", {"avoidEscape": true}],
		"jsx-quotes": ["error", "prefer-single"],
		"react/jsx-no-undef": 2,
		"react/jsx-uses-react": 2,
		"react/jsx-uses-vars": 2,
		"react/jsx-no-duplicate-props" : 2,
		"react/jsx-key" : 2,
		"react/jsx-no-bind" : 2,
		"no-var" : 2,
		"semi": [2,"never"],
		"default-case" : 2,
		"eqeqeq": ["error", "always"],
		"radix": "error",
		"prefer-const": "error",
		"prefer-spread": "error",
		"prettier/prettier": ["error",{"singleQuote":true,"tabWidth":4,"useTabs":true,"semi":false}]
	}
}
